.App {
  width: 700px;
  margin: 30px auto;
}

.App .container {
  min-width: 676px;
}

.App footer {
  font-size: 12px;
  margin-top: 8px;
}

.App a {
  text-decoration: none;
  color: rgb(80, 80, 248);
}
