.Weather {
  border: 1px solid rgba(0, 0, 0, 0.103);
  border-radius: 6px;
  padding: 25px;
  padding-bottom: 1px;
}

.Weather .form-control {
  max-width: 75%;
}

.Weather ul {
  margin-top: 5px;
  margin-bottom: 0;
  padding: 0;
}

.Weather li {
  list-style-type: none;
  font-size: 14px;
  color: #70757a;
  line-height: 1.7;
}
.Weather .currentTemp {
  font-size: 74px;
  font-weight: 500;
  line-height: 0;
  position: relative;
  left: -35px;
}

.Weather .currentIcon {
  position: relative;
  top: -20px;
  left: -35px;
  width: 94px;
  margin-right: 5px;
}

.Weather .unit {
  position: relative;
  top: -40px;
  left: -30px;
  font-size: 17px;
}

.Weather .min-max li {
  line-height: 1.9;
  
}

.Weather .weatherForecast {
  text-align: center;
  padding-left: 8px;
}

.Weather .forecastCard {
  width: 310px;
  background-color: rgb(248, 248, 248);
  border-radius: 10px;
  padding: 5px 5px;
  height: 64px;
  line-height: 1.7;
}

.Weather .forecastCard .forecastIcon {
  width: 74px;
    position: relative;
  top: -10px;
  right: 15px;
}

.Weather .forecastDescription li{
  
  width: 140px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.Weather .forecastMinTemp {
  margin-right: 15px;
  opacity: 0.6;
}
