.Weather {
  border: 1px solid rgba(0, 0, 0, 0.103);
  border-radius: 15px;
  padding: 20px;
  padding-bottom: 10px;
  background-color: rgba(25, 25, 112, 0.993);
}
.Weather .currentWeather {
  background-color: rgba(253, 253, 253, 0.11);
  padding: 0 0 0 8px;
  margin: 5px 0;
  border-radius: 8px;
  color: white;
  height: 82%;
}

.Weather .form-control {
  max-width: 73%;
}

.Weather .searchBtn {
position: relative;
top: -2px;
}

.Weather ul {
  margin-top: 6px;
  padding: 0;
}

.Weather li {
  list-style-type: none;
  font-size: 14px;
  color: rgb(253, 253, 253, 0.8);
  line-height: 1.5;
}
.Weather .currentTemp {
  font-size: 64px;
  font-weight: 500;
  line-height: 0;
  position: relative;
  left: -30px;
}

.Weather .currentIcon {
  position: relative;
  top: -20px;
  left: -35px;
  width: 94px;
  margin-right: 5px;
}

.Weather .unit {
  position: relative;
  top: -35px;
  left: -30px;
  font-size: 17px;
}

.Weather .min-max li {
  line-height: 1.9;
}

.Weather .weatherForecast {
  color: rgb(248, 248, 248);
  text-align: center;
  padding-left: 8px;
}

.Weather .forecastCard {
  width: 310px;
  background-color: rgba(253, 253, 253, 0.11);
  border-radius: 10px;
  padding: 5px;
  height: 64px;
}

.Weather .forecastCard .forecastIcon {
  width: 74px;
  position: relative;
  top: -10px;
  right: 15px;
}

.Weather .forecastDescription li {
  width: 140px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Weather .forecastMinTemp {
  margin-right: 15px;
  opacity: 0.6;
}
